*{
    margin: 0;
}
ul{
    list-style: none;
}

:root{
    --blue: #87A2FF;
    --light-blue: #C4D7FF; 
    --peach: #FFD7C4;
    --yellow: #FFF4B5;
}

.color-blue{
    color: var(--blue);
}
.bg-light-blue{
    background: var(--light-blue);
}